$color-principal:rgb(55, 55, 129);
$color-secundario:rgba(71, 58, 6, 0.736);
$color-iluminacion1:rgba(68, 68, 127, 0.497);
$color-iluminacion2:rgba(84, 86, 135, 0.18);
/*MAPS*/
$tamanio-tipografia:(
    titulos: 24px,
    subtitulos:20px,
    letra-chica:14px,
)