
$color-secundario:rgba(71, 58, 6, 0.736);
$color-iluminacion1:rgb(129, 129, 78);
$color-iluminacion2:rgba(84, 86, 135, 0.18);
$color-iluminacion3:rgba(215, 215, 240, 0.779);
$background-principal: url(../imagenes/rotter5.jpg);
$background-principa2: url(../imagenes/galeria2.jpg);

/*MAPS*/

$tamanio-tipografia:(
    titulos: 24px,
    subtitulos:20px,
    letra-chica:14px,
);

/* EXTEND*/

@mixin flex-end {
    align-items:flex-end;
    justify-content: flex-end;
}

