
.galeriaimg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2 15rem);
    gap: 1rem;
    align-items:center;
    background-image: $background-principa2;
    width: 100%;
    margin:0;
    }
         
    .foto{
        width:100%;
        height:600px;
    }
    .galeriaimg img:hover {
       border: 5px solid $color-iluminacion3;
    }
    .galeriaimg{
        padding: 25px;
    }