
.galeriaimg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2 15rem);
    gap: 1rem;
    align-items:center;
    background-image: $background-principa2;
    width: 100%;
    margin:0;
    }
         
    .foto{
        width:25rem;
        height:35rem;
    }