*{
    margin: 0%;
    padding: 0%;
    list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}


header{
   background-image: $background-principal;
    z-index: 50;
}
    
.logoGeneral{
    height: 12.5rem;
    width: 12.5rem;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 80%;
    background-size: 80% auto;
    position:relative;
}
    
.nav-link {
font-family: 'Lobster', cursive;
    background-image: linear-gradient( rgb(129, 129, 78) ,$color-iluminacion3);
    font-size:map-get($tamanio-tipografia,subtitulos);     
&:hover{
    transform: scale(1.05);
}
}

     
header .navbar-nav{
    margin-left: auto;
}
main{
    display:flex;
    justify-content:center;
}
.navbar-toggler{
    background-color: rgba(240, 248, 255, 0.434);
}

.fondo{
    height: 150vh;
}
.contactate{
    animation-name: iluminarcontactate;
    animation-duration:3s;
    animation-iteration-count: infinite; 
}

@keyframes iluminarcontactate {
from {background-color: rgba(129, 129, 78, 0.73);}
to {background-color: $color-iluminacion3;}
}
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:5%;
    margin: 0%;
    margin-top: 0.5%;
    background-image: $background-principal;
    font-family: 'Dancing Script', cursive;
    color:$color-iluminacion3
}

.lifooter {
    display: flex;
    list-style:none ;
    @include flex-end;
}
   
.lifooter a {
    margin: 0.625rem;
    width: 3.125rem;
    &:hover{
        img{
            transform: translateY(-1.25rem);}
         }
}

.lifooter img{
     width: 3.125rem;
}
.direccionHorario{
    padding-right: 40%;
}
.pDireccion{
    font-size: 25px;
    color:white;
    
}
.pHorario{
    font-size: 25px;
    color:white;
}


@media only screen and (max-width:1024px){
    .fondo{
        background-position: center; 
        background-size: cover;
        background-repeat: no-repeat;
    }
    .header{
        display: grid;     
        grid-template-columns: 1fr 2fr;
        justify-content: right;
        justify-content: space-around;
        align-items: center;
        }
    .barraNavegacion__li {
        font-size: 2.438rem;
        padding: 0.063rem;
        margin: 0.125rem;
    }

    .footer{
        padding:1.25rem;
        justify-content: center;

    }
    .direccionHorario {  
        text-align: center;
        
    }

    .pDireccion{
        text-align: center;
    }
    .galeriaimg{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2 15rem) ;}
    
}  

@media only screen and (max-width:768px){
    .header{
    
        display: grid;     
        grid-template-columns: 1fr 3fr;
        justify-content: right;
        justify-content: space-around;
        align-items: center;
    }
    .footer{
        padding: 1.25rem;
        justify-content: center;

    }
    .barraNavegacion__li {
        font-size: 1.938rem;
        padding: 0.063rem;
        margin: 0.125rem;
        
    }
    .fondo{
        background-position: center; 
        height: 45.624rem;
    }
    .direccionHorario {  
        font-size:1.313rem;
        width: 12.5rem;
        text-align: center;
        margin: 0.625rem;  
    }

    .galeriaimg{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows:repeat(3 2fr);   
        }
}



  
@media only screen and (max-width:480px){
    .fondo{
        background-position: center; 
        
    }   
  
    img.logoGeneral{
        width:8.125rem;
        height:8.125rem;
    }
    .barraNavegacion{
        margin-right: 0.75rem;
    }
    .barraNavegacion__li {
        font-size: 1.313rem;
        padding: 0.188rem;
        margin: 0.188rem;
        display: block;
    }
    .bienvenidos{
        font-size: 2.125rem;
        margin-top: 1rem;
    
    }
    .footer{
        flex-direction: column;        
    }
    .direccionHorario {  
        font-size: 0.938rem;
        text-align: center;
        margin: 0.625rem;  
    }

    .pDireccion{
        display: block;
        text-align: center;
    }

    .galeriaimg{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(3 2fr);
        padding-left: 20px;
    }
    .carousel-inner{
        width: 150px;
        height: 100px;
        margin-bottom: 15rem;
    }

 

}