*{
    margin: 0%;
    padding: 0%;
    list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
body{
    font-family: 'Coda', cursive;   
}

header{
    background-color:$color-principal;
    z-index: 50;
}
    
.logoGeneral{
    height: 12.5rem;
    width: 12.5rem;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 80%;
    background-size: 80% auto;
    position:relative;
}
    
.nav-link{
    background-image: linear-gradient( rgb(101, 101, 89) , rgba(38, 25, 86, 0.361));
    font-size:map-get($tamanio-tipografia,subtitulos);     
}
        
header .navbar-nav{
    margin-left: auto;
}
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:5%;
    margin: 0%;
    background-color: $color-secundario;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.lifooter {
    display: flex;
    list-style:none ;
    @include flex-end;
}
   
.lifooter a {
    margin: 0.625rem;
    width: 3.125rem;
}

.lifooter img{
     width: 3.125rem;
}

.contactate{
    font-family: 'Ruslan Display', cursive;
    color: rgb(43, 56, 66);
    background-color:rgba(50, 50, 83, 0.322);
    animation-name: iluminarcontactate;
    animation-duration:4s;
    animation-iteration-count: infinite;
}
  
@keyframes iluminarcontactate {
from {background-color: $color-iluminacion1;}
to {background-color: $color-iluminacion2;}
}

.menuext{
    background-color: red;
}
.reservaext{
@extend .menuext;

}