
.bienvenidos{
    font-size: 400%;
    font-family: 'Ruslan Display', cursive;
    color: aliceblue;
    text-align: center;
    margin-bottom: 30%;
    background-color:rgba(50, 50, 83, 0.322);
    animation-name: iluminarBienvenidos;
    animation-duration:4s;
    animation-iteration-count: infinite;
}
@keyframes iluminarBienvenidos {
    from {background-color: $color-iluminacion1}
    to {background-color: $color-iluminacion2;}
}
