
.fondoindex{
    background-image: url("../imagenes/rotter6.jpg");
}

.textnosotros{
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color:rgb(227, 239, 239);
}
.contenedorinicio{
    border-right: 5px double rgba(255, 255, 255, 0.411);
}

.carrousel_inicio{
    display: flex;
    justify-content: center;
 }
 