main img {
    width:100%;
    height: 100vw;
    padding: 1.25rem;
    background-image: $background-principa2;
}
.menu{
    overflow-x: scroll;
    height: 31.25rem;
    width: 31.25rem;
    display: inline;
    position: relative;
    
}