section{
    background-image: $background-principal;
}
.contenedorCarrousel{
    background-color:rgba(76, 70, 70, 0.617) ;
}
     
.carousel__div{
    display: flex;
    justify-content: center;
 }
 .slide{
     display: flex;
     justify-content: center;
     width: 50%;
     
 }
 .slide img{
    background-size:cover;
     width: 100vh;
 }

 .tituloColum{
    font-family: 'Lobster', cursive;

 }
 

